@Kopernicus:HAS[!EdgeOfEternitySettings]:FOR[EdgeOfEternity]
{
	#@EdgeOfEternitySettings {}
}
@Kopernicus:FOR[EdgeOfEternity]
{
	Body
	{
		cacheFile = EdgeOfEternity/Bodies/Cache/Honua.bin
		name = Honua
		Template
		{
			name = Gilly
			removeAllPQSMods = true
		}
		Properties
		{
			albedo = 0.68
			description = Though the smaller object, Honua is still nearly as massive as Elea. The separation between the two bodies is large, but thought to still be small enough that one can be seen from the other.
			displayName = Honua^N
			radius = 19000
			geeASL = 0.00623
			rotates = true
			rotationPeriod = 7695
			tidallyLocked = false
			initialRotation = 0
			isHomeworld = false
			timewarpAltitudeLimits = 9000 9000 9000 10000 12000 15000 20000 25000
			sphereOfInfluence = 1065410
			ScienceValues
			{
				landedDataValue = 4.9
				inSpaceLowDataValue = 3.9
				inSpaceHighDataValue = 2.3
				recoveryValue = 7.5
				spaceAltitudeThreshold = 30000
			}
			maxZoom = 37000
		}
		Orbit
		{
			referenceBody = EHBarycenter
			color = 0.27,0.29,0.28
			iconTexture = EdgeOfEternity/Bodies/Other/MinorPlanet_Icon.png
			semiMajorAxis = 1389052.52131
			period = 3844893.84046
			eccentricity = 0.013
			inclination = 7.1
			longitudeOfAscendingNode = 0
			argumentOfPeriapsis = 180
			meanAnomalyAtEpoch = 0
			epoch = 0
		}
		ScaledVersion
		{
			OnDemand
			{
				texture = EdgeOfEternity/Bodies/PluginData/Honua_Color.dds
				normals = EdgeOfEternity/Bodies/PluginData/Honua_Normal.dds
			}
			Material
			{
				shininess = 0
				specColor = 0,0,0,1
			}
		}		
		PQS
		{
			maxLevel = 5
			mapMaxHeight = 9000
			Mods
			{
				VertexHeightMap
				{
					map = EdgeOfEternity/Bodies/PluginData/Honua_Shape.dds
					deformity = 8500
					offset = 0
					enabled = true
					order = 20
					name = Bennu
				}
				VertexColorMap
				{
					map = EdgeOfEternity/Bodies/PluginData/Honua_Color.dds
					order = 20
					enabled = true
				}
				VoronoiCraters
				{
					colorOpacity = 0.08
					DebugColorMapping = False
					deformation = 150
					jitter = 0.1
					jitterHeight = 3
					rFactor = 1
					rOffset = 0.95
					simplexFrequency = 90
					simplexOctaves = 3
					simplexPersistence = 0.5
					simplexSeed = 142241
					voronoiDisplacement = 0
					voronoiFrequency = 11
					voronoiSeed = 421
					enabled = True 
					CraterCurve 
					{ 
						key = -1 -0.75 0 0 
						key = -0.5 -0.1 4 4 
						key = -0.4 0.25 2 -1 
						key = -0.2 0.05 -0.5 -0.5 
						key = 0 0 0 0 
					} 
					JitterCurve 
					{ 
						key = -1 0.4 0 0 
						key = -0.75 0.1 0 0 
						key = -0.4 0.4 3 3 
						key = -0.35 1 0 0 
						key = -0.15 0 0 0 
					}
				}
				
				
				VertexHeightNoiseVertHeightCurve2
                {
                    deformity = 10
                    ridgedAddSeed = 999
                    ridgedAddFrequency = 20
                    ridgedAddLacunarity = 3
                    ridgedAddOctaves = 4
                    ridgedSubSeed = 666
                    ridgedSubFrequency = 25
                    ridgedSubLacunarity = 3
                    ridgedSubOctaves = 6
                    simplexCurve
                    {
                        key = 0 0 0 0.15
                        key = 0.8 0.7 0.68 1.5
                        key = 1 1 6.11 0
                    }
                    simplexHeightStart = -4000
                    simplexHeightEnd = 4000
                    simplexSeed = 333
                    simplexOctaves = 3
                    simplexPersistence = 0.3
                    simplexFrequency = 15
                    enabled = true
                    order = 100
					name = scaleNoise
                }
			}
		}
	}
}