@Kopernicus:HAS[!EdgeOfEternitySettings]:FOR[EdgeOfEternity]
{
	#@EdgeOfEternitySettings {}
}
@Kopernicus:FOR[EdgeOfEternity]
{
	Body
	{
		cacheFile = EdgeOfEternity/Bodies/Cache/Lakh.bin
		name = Lakh
		Template
		{
			name = Gilly
			removeAllPQSMods = true
		}
		Properties
		{
			albedo = 0.37
			description =
			displayName = Lakh^N
			radius = 488	//690m mean radius
			geeASL = 0.000764	//0.000382g at mean radius
			rotates = true
			tidallyLocked = true
			initialRotation = 0
			isHomeworld = false
			timewarpAltitudeLimits = 0 0 0 0 0 0 0 0
			ScienceValues
			{
				landedDataValue = 3.8
				inSpaceLowDataValue = 2.6
				inSpaceHighDataValue = 1.7
				recoveryValue = 4.9
				spaceAltitudeThreshold = 5000
			}
			maxZoom = 0
		}
		Orbit
		{
			referenceBody = Ora
			color = 0.33,0.29,0.28
			iconTexture = EdgeOfEternity/Bodies/Other/MinorPlanet_Icon.png
			semiMajorAxis = 387770.328975
			eccentricity = 0.124
			inclination = 3.25
			longitudeOfAscendingNode = 120
			argumentOfPeriapsis = 233
			meanAnomalyAtEpochD = 0
			epoch = 109735
		}
		ScaledVersion
		{
			OnDemand
			{
				texture = EdgeOfEternity/Bodies/PluginData/Lakh_Color.dds
				normals = EdgeOfEternity/Bodies/PluginData/Lakh_Normal.dds
			}
			Material
			{
				shininess = 0.15
				specColor = 0.1,0.1,0.1,1
			}
		}		
		PQS
		{
			maxLevel = 5
			mapMaxHeight = 9000
			Mods
			{
				VertexHeightMap
				{
					map = EdgeOfEternity/Bodies/PluginData/Lakh_Height.dds
					deformity = 325
					offset = 0
					enabled = true
					order = 20
					name = shape
				}
				VertexColorMap
				{
					map = EdgeOfEternity/Bodies/PluginData/Lakh_Color.dds
					order = 20
					enabled = true
				}
			}
		}
	}
}