@Kopernicus:HAS[!EdgeOfEternitySettings]:FOR[EdgeOfEternity]
{
	#@EdgeOfEternitySettings {}
}
@Kopernicus:FOR[EdgeOfEternity]
{
	Body
	{
		cacheFile = EdgeOfEternity/Bodies/Cache/Met.bin
		name = Met
		Template
		{
			name = Gilly
			removeAllPQSMods = true
		}
		Properties
		{
			albedo = 0.25
			description = Met was one of the last worlds to be discovered around Eterna, on account of its small size. Also on account of its small size, the only real reason anyone has come up with to visit is as a pit stop on the way into the Eterna system. While some say we should go there for its own sake, no serious missions have yet been devised. Met is most likely merely the largest member of a large belt of asteroids.
			displayName = Met^N
			radius = 4500
			geeASL = 0.00299
			rotates = true
			rotationPeriod = 7695
			tidallyLocked = false
			initialRotation = 0
			isHomeworld = false
			timewarpAltitudeLimits = 0 0 0 0 0 0 0 0
			ScienceValues
			{
				landedDataValue = 4.9
				inSpaceLowDataValue = 3.9
				inSpaceHighDataValue = 2.3
				recoveryValue = 7.5
				spaceAltitudeThreshold = 30000
			}
			maxZoom = 0
			biomeMap = EdgeOfEternity/Bodies/PluginData/Met_Biome.png
			Biomes
			{
				Biome
				{
					name = Lowlands
					value = 1
					color = RGBA(95,90,90,255)
				}
				Biome
				{
					name = Slopes
					value = 1
					color = RGBA(125,115,115,255)
				}
				Biome
				{
					name = Highlands
					value = 1
					color = RGBA(160,150,145,255)
				}
				Biome
				{
					name = Crater
					displayName = Equatorial Crater
					value = 1
					color = RGBA(115,100,100,255)
				}
			}
		}
		Orbit
		{
			referenceBody = Eterna
			color = 0.27,0.25,0.24
			iconTexture = EdgeOfEternity/Bodies/Other/MinorPlanet_Icon.png
			semiMajorAxis = 2759624328
			eccentricity = 0.2
			inclination = 7.2
			longitudeOfAscendingNode = 118
			argumentOfPeriapsis = 120
			meanAnomalyAtEpoch = 0
			epoch = 0
		}
		ScaledVersion
		{
			OnDemand
			{
				texture = EdgeOfEternity/Bodies/PluginData/Met_Color.dds
				normals = EdgeOfEternity/Bodies/PluginData/Met_Normal.dds
			}
			Material
			{
				shininess = 0
				specColor = 0,0,0,1
			}
		}		
		PQS
		{
			maxLevel = 5
			mapMaxHeight = 9000
			Mods
			{
				VertexHeightMap
				{
					map = EdgeOfEternity/Bodies/PluginData/Met_Height.dds
					deformity = 1100
					offset = 0
					enabled = true
					order = 20
					name = detail
				}
				VertexHeightMap
				{
					map = EdgeOfEternity/Bodies/PluginData/Met_Shape.dds
					deformity = 1600
					offset = 0
					enabled = true
					order = 20
					name = Bennu
				}
				VertexColorMap
				{
					map = EdgeOfEternity/Bodies/PluginData/Met_Color.dds
					order = 20
					enabled = true
				}
				VoronoiCraters
				{
					colorOpacity = 0.08
					DebugColorMapping = False
					deformation = 50
					jitter = 0.1
					jitterHeight = 3
					rFactor = 1
					rOffset = 0.95
					simplexFrequency = 90
					simplexOctaves = 3
					simplexPersistence = 0.5
					simplexSeed = 142241
					voronoiDisplacement = 0
					voronoiFrequency = 11
					voronoiSeed = 421
					enabled = True 
					CraterCurve 
					{ 
						key = -1 -0.75 0 0 
						key = -0.5 -0.1 4 4 
						key = -0.4 0.25 2 -1 
						key = -0.2 0.05 -0.5 -0.5 
						key = 0 0 0 0 
					} 
					JitterCurve 
					{ 
						key = -1 0.4 0 0 
						key = -0.75 0.1 0 0 
						key = -0.4 0.4 3 3 
						key = -0.35 1 0 0 
						key = -0.15 0 0 0 
					}
				}
			}
		}
		Rings
		{
			Ring
			{
				angle = 0
				innerRadius = 1380
				outerRadius = 2180
				thickness = 1
				texture = EdgeOfEternity/Bodies/PluginData/Met_Rings.png
				color = 0.48,0.4,0.23,1
				unlit = false
				useNewShader = true
				penumbraMultiplier = 15
				steps = 5000
				tiles = 14
			}
		}
	}
}