@Kopernicus:FOR[EdgeOfEternity]
{
	Body
	{
		cacheFile = EdgeOfEternity/Bodies/Cache/Kono.bin
		name = Kono
		Template
		{
			name = Tylo
			removeAllPQSMods = true
		}
		Properties //Composition: 91% silicate, 9% iron
		{
			albedo = 0.18
			description = Kono's surface is mostly molten, and the lava appears to be of an unusually high temperature. Scientists aren't sure how it got so hot, but they advise that the radiation environment so near to Apep is likely to be hazardous, and any craft daring to venture so close should be protected by layers of shielding. This hasn't stopped the hundreds of prospective tourists, however.
			displayName = Kono^N
			radius = 291000
			geeASL = 0.302
			rotates = true
			rotationPeriod = 6800
			tidallyLocked = true
			initialRotation = 60
			isHomeworld = false
			timewarpAltitudeLimits = 1000 1000 1000 1500 2000 3000 4000 6000
			ScienceValues
			{
				landedDataValue = 13.6
				splashedDataValue = 20.4
				inSpaceLowDataValue = 6.5
				inSpaceHighDataValue = 4.5
				recoveryValue = 7.3
				spaceAltitudeThreshold = 90000
			}
		}
		Orbit
		{
			referenceBody = Apep
			color = 0.86,0.18,0.04,1
			semiMajorAxis = 32911325
			eccentricity = 0.002
			inclination = 0.008
			longitudeOfAscendingNode = 70
			argumentOfPeriapsis = 50
			meanAnomalyAtEpoch = 4
			epoch = 0	
		}
		ScaledVersion
		{
			OnDemand
			{
				texture = EdgeOfEternity/Bodies/PluginData/Kono_Color.dds
				normals = EdgeOfEternity/Bodies/PluginData/Kono_Normal.dds
			}
			Material
			{
				shininess = 0.6
				specular = 0.02,0.02,0.02,1.0
			}
			//EmissiveOverlay
			//{
			//	emissiveMap = EdgeOfEternity/Bodies/Circumbinary/1-Apep/1-Kono/Kono_Emissive.png
			//	color = 0.86,0.18,0.04,1
			//	brightness = 1.6
			//	transparency = 0.6
			//}
		}							
		PQS
		{
			maxLevel = 8
			Mods
			{
				VertexHeightMap
				{
					map = EdgeOfEternity/Bodies/PluginData/Kono_Height.dds
					deformity = 13500
					offset = -3105
					scaleDeformityByRadius = false
					enabled = true
					order = 20
				}
				VertexColorMap
				{
					map = EdgeOfEternity/Bodies/PluginData/Kono_Color.dds
					order = 20
					enabled = true
				}
				VoronoiCraters
				{
					colorOpacity = 0.08
					DebugColorMapping = False
					deformation = 800
					jitter = 0.1
					jitterHeight = 2
					rFactor = 1
					rOffset = 1.15
					simplexFrequency = 220
					simplexOctaves = 3
					simplexPersistence = 0.5
					simplexSeed = 424242
					voronoiDisplacement = 0
					voronoiFrequency = 19
					voronoiSeed = 101
					order = 100
					enabled = True
					name = _HeightNoise
					CraterCurve
					{
						key = -0.9963056 -0.7950293 -0.1902251 -0.1902251
						key = -0.9520697 -0.8223228 -0.6806358 -0.6806358
						key = -0.7445966 -0.8581167 0.4436148 0.4436148
						key = -0.4499771 -0.1392395 5.289535 5.289535
						key = -0.4015177 0.2551735 9.069458 -2.149609
						key = -0.2297457 0.08363447 -0.4453675 -0.4453675
						key = 0.2817185 0.01192154 0.01421198 0.01421198
						key = 1.000876 0.001117015 0.01397126 0.01397126
					}
					JitterCurve
					{
						key = -1.000701 0.4278412 0.1577609 0.1577609
						key = -0.7884969 0.09487452 -0.7739663 -0.7739663
						key = -0.6091803 0.072019 0.123537 0.123537
						key = -0.3930514 0.3903495 3.300831 3.300831
						key = -0.3141366 0.9276265 0 0
						key = -0.2586833 0.002564805 -0.01814346 -0.01814346
						key = 0.9970253 0.003401639 0 0
					}
				}
			}
		}
		Ocean
		{
			ocean = True
			oceanColor = 0.86,0.18,0.04,1
			oceanHeight = 0
			density = 2.8
			minLevel = 2
			maxLevel = 7
			minDetailDistance = 8
			maxQuadLengthsPerFrame = 0.03
			Material
			{
				color = 0.86,0.18,0.04,1
				colorFromSpace = 0.86,0.18,0.04,1
				specColor = 0,0,0,1
				shininess = 0.0
				gloss = 0.0
				tiling = 1000
				waterTex = EdgeOfEternity/Bodies/Other/Lava.png
				waterTex1 = EdgeOfEternity/Bodies/Other/Lava.png
				bTiling = 800
				bumpMap = BUILTIN/quiet
				displacement = 0.01
				texDisplacement = 0.001
				dispFreq = 0.05
				mix = 0.3677657
				oceanOpacity = 0.98
				falloffPower = 1.1
				falloffExp = 2
				fogColor = 0.46,0.02,0,1
				heightFallOff = 0.2
				globalDensity = -8E-06
				atmosphereDepth = 70000
				fogColorRamp = BUILTIN/AerialRampKerbin2
				fadeStart = 20000
				fadeEnd = 60000
				planetOpacity = 1
				normalXYFudge = 1.4
				normalZFudge = 1.18
			}
			FallbackMaterial
			{
				color = 0.86,0.18,0.04,1
				colorFromSpace = 0.86,0.18,0.04,1
				specColor = 0,0,0,1
				shininess = 0
				gloss = 0.0
				tiling = 1000
				waterTex = EdgeOfEternity/Bodies/Other/Lava.png
				waterTex1 = EdgeOfEternity/Bodies/Other/Lava.png
				fadeStart = 20000
				fadeEnd = 60000
				planetOpacity = 1
			}
			Fog
			{
				afgAltMult = 0.05
				afgBase = 0.6
				afgLerp = False
				afgMin = 0.05
				fogColorEnd = 0.8,0.28,0.12,1
				fogColorStart = 0.8,0.28,0.12,1
				fogDensityAltScalar = -0.0008
				fogDensityEnd = 0.03
				fogDensityExponent = 1
				fogDensityPQSMult = 0.02
				fogDensityStart = 0.005
				skyColorMult = 1.1
				skyColorOpacityAltMult = 15
				skyColorOpacityBase = 0.25
				sunAltMult = 0.01
				sunBase = 0.5
				sunMin = 0.05
				useFog = True
			}
			//Mods
			//{
			//	EmissiveFX
			//	{
			//		color = 0.86,0.18,0.04,1
			//		brightness = 3.2
			//		transparency = 0.8
			//	}
			//}
		}
		HazardousBody
        {
            Instance
            {
                ambientTemp = 3200
				sumTemp = true
                AltitudeCurve
                {
                    key = 305000 1 0 -0.002
                    key = 305500 0.25 -0.001 -0.001
                    key = 306000 0 0 0
                }
            }
        }
	}
}
@Kopernicus:HAS[!EdgeOfEternitySettings]:FOR[EdgeOfEternity]
{
	#@EdgeOfEternitySettings {}
}


	@Kopernicus:HAS[@EdgeOfEternitySettings:HAS[#useTerrainShaders[true]]]:LAST[EdgeOfEternity]
	{
		@Body[Kono]
		{
			@PQS
			{
				materialType = AtmosphericTriplanarZoomRotation
				Material
				{
					factor = 3
					factorBlendWidth = 0.1
					factorRotation = 180
					saturation = 1
					contrast = 1.1
					tintColor = 1,1,1,0
					specularColor = 0.220588207,0.220588207,0.220588207,0.501960814
					albedoBrightness = 2
					steepPower = 2
					steepTexStart = 0
					steepTexEnd = 30000
					steepTex = BUILTIN/ikeSteep_diffuse
					steepTexScale = 1,1
					steepTexOffset = 0,0
					steepBumpMap = BUILTIN/ikeSteep_nrm
					steepBumpMapScale = 1,1
					steepBumpMapOffset = 0,0
					steepNearTiling = 50
					steepTiling = 50
					lowTexScale = 1,1
					lowTexOffset = 0,0
					lowTiling = 100000
					midTex = BUILTIN/ikeGround_diffuse
					midTexScale = 1,1
					midTexOffset = 0,0
					midTiling = 150000
					midBumpMap = BUILTIN/ikeGround_nrm
					midBumpMapScale = 1,1
					midBumpMapOffset = 0,0
					midBumpTiling = 150000
					highTexScale = 1,1
					highTexOffset = 0,0
					highTiling = 100000
					lowStart = 0
					lowEnd = 0
					highStart = 2
					highEnd = 2
					globalDensity = 1
					fogColorRampScale = 1,1
					fogColorRampOffset = 0,0
					planetOpacity = 0
					oceanFogDistance = 1000
			}
		}
	}
}