@Kopernicus:HAS[!EdgeOfEternitySettings]:FOR[EdgeOfEternity]
{
	#@EdgeOfEternitySettings {}
}

@Kopernicus:LAST[EdgeOfEternity]:HAS[@EdgeOfEternitySettings:HAS[#usePrometheusHomeswitch[true]]]
{
	@Body[Kerbin]
	{
		@name = Haven
		@Template
		{
			@name = Laythe
			!removePQSMods
			removeAllPQSMods = true
		}
		@Properties
		{
			@isHomeworld = false
		}
		!SpaceCenter {}
	}
	@Body[Brink]
	{
		@Orbit
		{
			@referenceBody = Haven
		}
	}
	@Body[Damocles]
	{
		@Orbit
		{
			@referenceBody = Haven
		}
	}
	
	
	@Body[Prometheus]
	{
		@name = Kerbin
		@Template
		{
			@name = Kerbin
			!removeAllPQSMods
			removePQSMods = PQSCity[Monolith00], PQSCity[Monolith01], PQSCity[KSC], MapDecal, PQSMod_MapDecalTangent, PQSMod_FlattenArea, PQSLandControl, PQSMod_VertexSimplexHeightAbsolute, PQSMod_VertexHeightNoiseVertHeightCurve2, PQSMod_VertexRidgedAltitudeCurve, PQSMod_VertexHeightMap
		}
		@Properties
		{
			@isHomeworld = true
		}
		@Orbit
		{
			@referenceBody = Sun
		}
		PostSpawnOrbit
		{
			referenceBody = Eterna
		}
		SpaceCenter
		{
			latitude = 18.25
			decalLatitude = 18.21
			longitude = 209.6
			decalLongitude = 209.6
			lodvisibleRangeMult = 6
			repositionRadiusOffset = 148
			heightMapDeformity = 186
			radius = 5000
			reorientFinalAngle = 104
			groundColor = 2.16,1.96,1.64,1
			editorGroundColor = 0.54,0.49,0.41,0.1
			groundTexture = BUILTIN/terrain_grass00_new
			editorGroundTexture = BUILTIN/terrain_grass00_new
		}
	}
}